[
    {
        "Author": "Minmoose, Asgard and Contributors",
        "Name": "Brio",
        "Punchline": "Enhanced GPosing.",
        "Description": "Brio is suite of tools that gives you advanced control to edit and pose actors during GPose.",
        "InternalName": "Brio",
        "AssemblyVersion": "{version_live}",
        "TestingAssemblyVersion": "{version_testing}",
        "RepoUrl": "https://github.com/Etheirys/Brio",
        "ApplicableVersion": "any",
        "DownloadCount": 1432968,
        "DalamudApiLevel": 13,
        "TestingDalamudApiLevel": 13,
        "DownloadLinkInstall": "https://github.com/Etheirys/Brio/releases/download/v{version_live}/Brio.zip",
        "DownloadLinkTesting": "https://github.com/Etheirys/Brio/releases/download/v{version_testing}/Brio.zip",
        "DownloadLinkUpdate": "https://github.com/Etheirys/Brio/releases/download/v{version_live}/Brio.zip",
        "IconUrl": "https://raw.githubusercontent.com/Etheirys/Brio/main/Resources/Images/BrioIcon.png",
        "Tags": [ 
            "gpose",
            "brio",
            "posing",
            "pose",
            "animation",
            "xat",
            "cutscene",
            "utility", 
            "tools"
        ]
    }
]
