[
    {
        "Author": "Asgard, Minmoose and Contributors",
        "Name": "Brio",
        "Punchline": "Enhanced GPosing.",
        "Description": "Control actors during GPose sessions.",
        "InternalName": "Brio",
        "AssemblyVersion": "{version}",
        "TestingAssemblyVersion": "{version}",
        "RepoUrl": "https://github.com/AsgardXIV/Brio",
        "ApplicableVersion": "any",
        "DalamudApiLevel": 9,
        "DownloadLinkInstall": "https://github.com/AsgardXIV/Brio/releases/download/v{version}/Brio.zip",
        "DownloadLinkTesting": "https://github.com/AsgardXIV/Brio/releases/download/v{version}/Brio.zip",
        "DownloadLinkUpdate": "https://github.com/AsgardXIV/Brio/releases/download/v{version}/Brio.zip",
        "IconUrl": "https://raw.githubusercontent.com/AsgardXIV/Brio/main/Resources/Images/BrioIcon.png",
        "Tags": [ 
            "gpose",
            "brio",
            "posing",
            "animation"
        ]
    }
]
