[
    {
        "Author": "Minmoose, Asgard and Contributors",
        "Name": "Brio",
        "Punchline": "Enhanced GPosing.",
        "Description": "Control & edit actors during GPose sessions.",
        "InternalName": "Brio",
        "AssemblyVersion": "{version}",
        "TestingAssemblyVersion": "{version}",
        "RepoUrl": "https://github.com/Etheirys/Brio",
        "ApplicableVersion": "any",
        "DalamudApiLevel": 13,
        "DownloadLinkInstall": "https://github.com/Etheirys/Brio/releases/download/v{version}/Brio.zip",
        "DownloadLinkTesting": "https://github.com/Etheirys/Brio/releases/download/v{version}/Brio.zip",
        "DownloadLinkUpdate": "https://github.com/Etheirys/Brio/releases/download/v{version}/Brio.zip",
        "IconUrl": "https://raw.githubusercontent.com/Etheirys/Brio/main/Resources/Images/BrioIcon.png",
        "Tags": [ 
            "gpose",
            "brio",
            "posing",
            "pose",
            "animation",
            "xat",
            "cutscene"
        ]
    }
]
