name: Release Brio

permissions:
  contents: write

on:
  workflow_dispatch:
    inputs:
      version:
        description: Version to create
        required: true

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
        fetch-depth: 0
        submodules: true

    - name: Install .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 10.0.x

    - name: Download Dalamud
      run: |
        Invoke-WebRequest -Uri https://goatcorp.github.io/dalamud-distrib/stg/latest.zip -OutFile latest.zip
        Expand-Archive -Force latest.zip "$env:AppData\XIVLauncher\addon\Hooks\dev"

    - name: Restore Dependencies
      run: dotnet restore Brio.slnx

    - name: Build Brio
      run: dotnet build Brio.slnx --no-restore /p:Configuration=Release /p:Version=${{ github.event.inputs.version }}

    - name: Zip Release
      uses: TheDoctor0/zip-release@0.6.0
      with:
        filename: '../../../../Brio.zip'
        directory: './Brio/bin/x64/Release/'
        exclusions: 'Brio Brio/*'
        
    - name: Upload Release
      uses: ncipollo/release-action@v1
      with:
        allowUpdates: true
        artifacts: "./Brio.zip"
        name: Brio v${{ github.event.inputs.version }}
        tag: v${{ github.event.inputs.version }}
        draft: false
        token: ${{ secrets.GITHUB_TOKEN }}
        commit: ${{ vars.GITHUB_SHA }}     

    - name: Update repo.json
      run: |
        git config --global user.name "Actions User"
        git config --global user.email "actions@github.com"
        git fetch origin main && git checkout main
        $ver = '${{ github.event.inputs.version }}'
        $path = './Resources/Templates/repo.tmpl'
        $new_path = './repo.json'
        $content = get-content -path $path
        $content = $content -replace '{version}',$ver
        set-content -Path $new_path -Value $content
        git add repo.json
        git commit -m "[CI] Updating versions for v${{ github.event.inputs.version }}" || true
        git push origin main || true
